@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Delete all of it for @Html.DisplayFor(model => model.MachineName)? (You sure?)</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn" />
}
<br>
<div>
  <span>
      <span>@Html.ActionLink("Back to machine", "Index")</span>
  </span>
</div>
