@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit the Machine</h2>

<br>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    <span>Name:</span>
    <span>@Html.EditorFor(model => model.MachineName)</span>

    <span>Descrispantion</span>
    <span>@Html.EditorFor(model => model.MachineDetails)</span>

<br>
    <input type="submit" value="Save" class="btn" />
}

<br>
<div>
  <span>
      <span>@Html.ActionLink("Back to home", "Index", "Home")</span>
  </span>
</div>