@{
  Layout = "_Layout";
}
<div>
  <h1>Welcome to Dr. Sillystringz's Factory!</h1>
  <p>Lets make an empire of robots.</p>
</div>
<div>
  <span>@Html.ActionLink("See all engineers", "Index", "Engineers")</span> 
  <br>
  <span>@Html.ActionLink("See all machines", "Index", "Machines")</span>
</div>